*, *::before, *::after{
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html{
    color-scheme: dark light;
}
:root{
    --grayish_blue: hsl(237, 18%, 59%);
    --soft_red: hsl(345, 95%, 68%);
    --dark_desaturated_blue: hsl(236, 21%, 26%);
    --very_dark_blue: hsl(235, 16%, 14%);
    --very_dark_black_blue: hsl(234, 17%, 12%);
}
@media (max-width: 730px){
    html{
        font-size: 14px;
    }
}
@media (max-width: 470px){
    html{
        font-size: 10px;
    }
}
body{
    min-height: 100vh;
    font-family: monospace, sans-serif;
    background-color: var(--very_dark_blue);
    background-image: url("../images/bg-stars.svg");
    color: white;
}
body main{
    position: relative;
    display: flex;
    flex-direction: column;
}
body > .hills{
    position: absolute;
    bottom: 0;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}

/* main app */

h1{
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    margin-top: 100px;
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}
.counter > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.counter .time{
    position: relative;
    margin-bottom: 20px;
    font-size: 5rem;
    letter-spacing: 7px;
    font-weight: 700;
    padding: 0.1em 0.3em;
    color: var(--soft_red);
    background-color: var(--dark_desaturated_blue);
    border-radius: 0.2em;
    font-variant-numeric: tabular-nums;
    box-shadow: 0 10px 0 0 var(--very_dark_black_blue);
    overflow: hidden;
}
@media(max-width: 730px){
    .counter .time{
        font-size: 2.8rem;
    }
}
.counter .time::before, .counter .time::after{
    position: absolute;
    content: "";
    z-index: 1;
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
    background-color: var(--very_dark_blue);
}
.counter .time::after{
    transform: translate(50%, -50%);
    right: 0;
    left: auto;
}
.counter .time .filter{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: #00000042;
}
.time .devider{
    position: absolute;
    width: 100%;
    height: 0.04em;
    background-color: var(--very_dark_blue);
    top: 50%;
    left: 0;
}
.counter .text{
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: var(--grayish_blue);
}

/* footer */
footer{
    position: absolute;
    width: 90%;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 1rem;
    cursor: pointer;
}
.socials > img{
    transition: transform 0.4s ease;
}
.socials > img:hover{
    transform: scale(1.2);
    filter: invert(56%) sepia(15%) saturate(4511%) hue-rotate(308deg) brightness(97%) contrast(102%);
}
.attribution{
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
    position: relative;
    white-space: nowrap;
}
a::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    bottom: 0;
    left: 0;
}
